/* playfair is the name that i put  */
@font-face {
  font-family: Livvic-Bold;
  src: url(../../fonts/Livvic-Bold.ttf);
}

@font-face {
  font-family: Livvic-Semi-Bold;
  src: url(../../fonts/Livvic-SemiBold.ttf);

}

